.btn-yellow {
    background-color: #ffd94a;
    color: #000000 !important;
    font-size: 20px;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active, .open>.dropdown-toggle.btn-yellow {
    color: #000000 !important;
    background-color: #FFE26F;
    font-size: 20px;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
    color: #000000 !important;
    background-color: #48A269;
    font-size: 20px;
}

.btn-green {
    background-color: #0b8337;
    color: black !important;
    /*text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;*/
    font-size: 20px;
}

.btn-primary {
    background-color: #0b8337 !important;
    color: black !important;
    border-color: #0b8337 !important;
}

.btn-secondary {
    background-color: #ffd94a !important;
    color: black !important;
    border-color: #FFE26F !important;
}

.btn-grey {
    background-color: #939393;
    color: #000000 !important;
}

.btn-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img-thumbnail {
    background-color: #343a40 !important;
}

.list-group-item {
    color: white !important;
}

.second-table-column {
    background-color: #343a40;
}

.second-table-column-2 {
    background-color: #212121;
}

body {
    color: #ffffff;
    background-color: #212121 !important;
}

a {
    color: grey;
}

.modal {
    color: black !important;
}

.page-item > .page-link {
    background-color: #343a40;
    color: white;
}

.page-item.disabled > .page-link {
    background-color: var(--grey);
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #343a40;
}

.table > tbody > tr.item-unavailable,
.table > tbody > tr.item-unavailable > td > a > i.edit-symbol{
    color: rgba(241, 243, 250, 0.5) !important;
}

.table > tbody > tr.item-available > td > a > i.edit-symbol {
    color: white;
}

.card {
    border: 1px solid #dee2e6;
    background-color: #212121;
    margin: 5px;
}

.card > .card-header {
    border-bottom: 1px solid #dee2e6;
    background-color: #343a40;
}

.card > .card-header > a {
    color: #cccccc;
}

#accordion {
    margin: 5px;
}