.light-mode {
    background-color: #F1F3FA;
    color: #111111;
    overflow-x: hidden;
}

.dark-mode {
    background-color: #111111;
    color: #F1F3FA;
    overflow-x: hidden;
}

.main {
    font-family: standardtext;
    font-size: 20px
}

.btn-yellow {
    background-color: #ffd94a;
    color: #000000;
    margin: 5px;
    font-size: 20px;
}

.btn-green {
    background-color: #0b8337;
    color: white;
    margin: 5px;
    /*text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;*/
    font-size: 20px;
}

.btn-grey {
    background-color: #939393;
    color: #000000;
    margin: 5px;
}

.btn-text {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footer {
    margin-left: 280px; /* Same as the width of the sidenav */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

td {
    padding: 10px;
}

th {
    text-align: center;
}

.front-image {
    border: 2px solid red;
    margin: 2px;
}

#cart {
    border-collapse: collapse;
    /*border: 2px solid black;*/
}

#clock {
    margin: 5px;
    font-size: 40px
}

#cartdiv {
    text-align: center;
}

.group_bal {
    border-radius: 15px;
    background-color: #C0C0C0;
    padding-left: 5px;
    padding-right: 5px;
}