.light-mode {
    background-color: #F1F3FA;
    color: #111111;
    overflow-x: hidden;
}

.dark-mode {
    background-color: #111111;
    color: #F1F3FA;
    overflow-x: hidden;
}

.main {
    font-family: standardtext;
    font-size: 20px
}

.btn-block {
    margin-left: 5px;
    margin-right: 5px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-yellow {
    background-color: #ffd94a;
    color: #000000;
    font-size: 20px;
}

.btn-green {
    background-color: #0b8337;
    color: white;
    /*text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;*/
    font-size: 20px;
}

.btn-grey {
    background-color: #939393;
    color: #000000;
}

.btn-text {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footer {
    margin-left: 280px; /* Same as the width of the sidenav */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

td {
    padding: 1px 5px;
}

th {
    text-align: center;
}

.front-image {
    border: 2px solid red;
    margin: 2px;
    width: 230px;
    height: 230px;
    position: relative;
    display: inline-block;
}

.front-image .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.front-image:hover .img-top {
    display: inline;
}

#cart {
    border-collapse: collapse;
    /*border: 2px solid black;*/
}

#clock {
    margin: 5px;
    font-size: 40px
}

#cartdiv {
    text-align: center;
}

.group_bal {
    border-radius: 15px;
    background-color: #C0C0C0;
    padding-left: 5px;
    padding-right: 5px;
}

.graph {
    height: 100%;
    width: 100%
}

.img-thumbnail {
    margin: 15px
}

@media (min-width: 768px) {
    .min-width-460-md {
        min-width: 460px;
    }
}


.video-container {
  height: 100%;
  position: relative;
}

.video-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

html,body { height:100%; }