<p>Beste {{ user.name }},<br></p>
<p>Volgens onze administratie heb je nog een grote openstaande schuld.
    Het gaat hierbij om een bedrag van:</p>
    <p><span style="color: red; font-weight: bold; font-size: 20px">€ {{ '%.2f' % user.balance }}</span></p>

<p>Zou je deze schuld zo snel mogelijk willen betalen?
    Extra overgemaakt geld wordt als saldo op je Tikker account gezet.
    Betalen kan door over te maken naar rekeningnummer NL03RABO0333194322 t.n.v. Scouting Kornet van Limburg Stirum o.v.v. Opwaardering met je naam.
    Je kunt ook Hans vragen een Tikkie te sturen.</p>

<p><br>
    <i>Met vriendelijke Scoutsgroet,</i><br>
    <b>Tikker</b><br><br>

    <b>Scouting Kornet van Limburg Stirum</b><br>
    Hooiberglaan 7 | 8121 RA | Olst <br>
    <a href="http://www.kvls.nl/" target="_blank">www.kvls.nl</a><br>
    <img border=0 width=83 height=96 src="https://www.kvls.nl/images/images/KVLS-Logo-modern-kleur.png">
</p>