{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-xl-3">
            <a href="/admin/usergroups" class="btn btn-block btn-green">Beheer Groepen</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/users" class="btn btn-block btn-yellow">Beheer Gebruikers</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/drinks" class="btn btn-block btn-green">Beheer Producten</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/transactions" class="btn btn-block btn-yellow">Beheer Transacties</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <a href="/admin/inventory" class="btn btn-block btn-yellow">Beheer Inventaris</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/inventory/correct" class="btn btn-block btn-green">Inventaris Correctie</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/profit" class="btn btn-block btn-yellow">Winst uitkeren</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('upgrade') }}" class="btn btn-block btn-green">Opwaarderen</a>
        </div>
    </div>

    <!--<div class="row"><div class="col"><hr></div></div>-->

    <div class="row">
        <div class="col-xl-3">
            <a href="{{ url_for('bigscreen') }}" class="btn btn-block btn-green">Tikker BigScreen</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('borrel_mode') }}" class="btn btn-block btn-yellow">Borrel modus</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('admin_soundboard') }}" class="btn btn-block btn-green">Beheer Soundboard</a>
        </div>
        <div class="col-xl-3">
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-xl img-thumbnail">
            <table width="100%">
                <tr>
                    <th colspan="2">Winst per groep</th>
                </tr>
                {% for u in Usergroup.query.all() %}
                <tr>
                    <td width="50%" style="text-align: right">{{ u.name }}:</td>
                    <td width="50%" style="text-align: left">{% if u.profit < 0 %}<span style="color:red;font-weight:bold;">
                        {% else %}<span style="color:green;font-weight:bold;">{% endif %}€{{ '%.2f' % u.profit }}</span></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xl img-thumbnail">
            <table width="100%">
                <tr>
                    <th colspan="2">Transactie overzicht</th>
                </tr>
                <tr>
                    <td width="50%" style="text-align: right">Transacties: </td>
                    <td width="50%" style="text-align: left">{{ transactions.total }}</td>
                </tr>
                <tr>
                    <td width="50%" style="text-align: right">Opwaarderingen: </td>
                    <td width="50%" style="text-align: left">{{ transactions.upgrades }}</td>
                </tr>
                <tr>
                    <td width="50%" style="text-align: right">Waarde:</td>
                    <td width="50%" style="text-align: left"><span style="color: green;font-weight:bold;">€{{ '%.2f' % transactions.upgrades_value }}</span></td>
                </tr>
                <tr>
                    <td width="50%" style="text-align: right">Aankopen:</td>
                    <td width="50%" style="text-align: left">{{ transactions.purchases }}</td>
                </tr>
                <tr>
                    <td width="50%" style="text-align: right">Waarde:</td>
                    <td width="50%" style="text-align: left"><span style="color: red;font-weight:bold;">€{{ '%.2f' % transactions.purchases_value }}</span></td>
                </tr>
                <tr>
                    <td style="text-align: right" width="50%">Balans:</td>
                    <td style="text-align: left" width="50%">
                        {% if transactions.revenue < 0 %}<span style="color: red;font-weight:bold;">€{{ '%.2f' % transactions.revenue }}</span>
                        {% else %}<span style="color: green;font-weight:bold;">€{{ '%.2f' % transactions.revenue }}</span>
                    {% endif %} </td>
                </tr>

            </table>
        </div>
        <div class="col-xl img-thumbnail">
            <table width="100%">
                <colgroup>
                    <col style="width: 50%">
                    <col style="width: 3rem">
                    <col>
                </colgroup>
                <tr>
                    <th colspan="3">Inventaris overzicht</th>
                </tr>
                {% for p in products %}
                <tr>
                    <td style="text-align: right">{{ p.name }}:</td>
                    <td style="text-align: left">
                        {% if p.quantity < 0 %}<span style="color: red;">{{ p.quantity }}</span>
                        {% elif p.quantity <= p.inventory_warning %}<span style="color: darkorange;">{{ p.quantity }}</span>
                        {% else %} {{ p.quantity }}
                    {% endif %}</td>
                    <td style="text-align: left">€ {{ '%.2f' % p.inventory_value }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>€ {{ '%.2f' % value }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}