{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-3">
            <a href="/admin/usergroups" class="btn btn-block btn-green">Beheer Groepen</a>
        </div>
        <div class="col-md-3">
            <a href="/admin/users" class="btn btn-block btn-yellow">Beheer Gebruikers</a>
        </div>
        <div class="col-md-3">
            <a href="/admin/drinks" class="btn btn-block btn-green">Beheer Producten</a>
        </div>
        <div class="col-md-3">
            <a href="/admin/transactions" class="btn btn-block btn-yellow">Beheer Transacties</a>
        </div>
    </div>
{% endblock %}