{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    <script>
    document.getElementById('spotify_user').onchange = function() {
        let selectField = document.getElementById('spotify_user').value;
        document.getElementById('spotify_user_name').disabled = selectField !== "0";
    };
    </script>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-xl-3">
            <a href="{{ url_for('api_disable_snow') }}" class="btn btn-block btn-green">Sneeuw uit</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('api_reload_bigscreen') }}" class="btn btn-block btn-yellow">Herstarten</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('biertje_kwartiertje') }}" class="btn btn-block btn-green">Biertje Kwartiertje</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('admin_quotes') }}" class="btn btn-block btn-yellow">Beheer citaten</a>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-xl-3">
            <a href="/admin/inventory" class="btn btn-block btn-yellow">Beheer Inventaris</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/inventory/correct" class="btn btn-block btn-green">Inventaris Correctie</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/profit" class="btn btn-block btn-yellow">Winst uitkeren</a>
        </div>
        <div class="col-xl-3">
        </div>
    </div>-->

    <!--<div class="row"><div class="col"><hr></div></div>

    <div class="row">
        <div class="col-xl-3">
        </div>
        <div class="col-xl-3">
        </div>
        <div class="col-xl-3">
        </div>
        <div class="col-xl-3">
        </div>
    </div>-->

    <br><br>
    <div class="row">
        <div class="col-xl img-thumbnail">
            <table width="100%">
                <tr>
                    <th colspan="2">Spotify</th>
                </tr>
                {% if spusername != "" %}
                <tr>
                    <td style="text-align: right">Ingelogd:</td>
                    <td style="text-align: left">{{ spusername }}</td>
                <tr>
                    <td colspan="2"><a style="font-size:1rem" href="{{ url_for('api_spotify_logout') }}" class="btn btn-green">Log uit</a></td>
                </tr>
                {% endif %}
            </table>
            {% if spusername == "" %}
                {{ wtf.quick_form(form_spotify) }}
            {% endif %}
        </div>
        <div class="col-xl img-thumbnail">
            <h5 style="text-align: center; font-weight: bold">Citaat toevoegen</h5>
            {{ wtf.quick_form(form_quote) }}
        </div>
        <div class="col-xl img-thumbnail">
            <h5 style="text-align: center; font-weight: bold">Bericht op scherm</h5>
            {{ wtf.quick_form(form_interrupt) }}
        </div>
        <div class="col-xl img-thumbnail">
            <table width="100%" style="font-size: 1rem;">
                <tr>
                    <th colspan="2" style="font-size: 1.25rem">Biertje Kwartiertje</th>
                </tr>
                {% if bk['playing'] == true %}
                <tr>
                    <td style="text-align: right">Deelnemers:</td>
                    <td style="text-align: left">{% for u in bk['participants'] %}{{ u.name }}, {% endfor %}</td>
                </tr>
                <tr>
                    <td style="text-align: right">Drank:</td>
                    <td style="text-align: left">{{ bk['drink'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: right">Speeltijd:</td>
                    <td style="text-align: left">{{ bk['playtime'] }} minuten</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center"><a style="font-size:1rem" href="{{ url_for('stop_biertje_kwartiertje') }}" class="btn btn-block btn-green">Stoppen</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" style="text-align: center">Er wordt momenteel geen biertje kwartiertje gespeeld! Klik op <i>Biertje Kwartiertje</i> bovenin om het in te stellen!</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}