{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <!--<div class="col-xl-3">
            <a href="{{ url_for('api_spotify_login') }}" class="btn btn-block btn-green">Spotify login</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('api_spotify_logout') }}" class="btn btn-block btn-yellow">Spotify logout</a>
        </div>-->
        <div class="col-xl-3">
            <a href="{{ url_for('api_disable_snow') }}" class="btn btn-block btn-green">Sneeuw uit</a>
        </div>
        <div class="col-xl-3">
            <a href="{{ url_for('api_reload_bigscreen') }}" class="btn btn-block btn-yellow">Herstarten</a>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-xl-3">
            <a href="/admin/inventory" class="btn btn-block btn-yellow">Beheer Inventaris</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/inventory/correct" class="btn btn-block btn-green">Inventaris Correctie</a>
        </div>
        <div class="col-xl-3">
            <a href="/admin/profit" class="btn btn-block btn-yellow">Winst uitkeren</a>
        </div>
        <div class="col-xl-3">
        </div>
    </div>-->

    <!--<div class="row"><div class="col"><hr></div></div>

    <div class="row">
        <div class="col-xl-3">
        </div>
        <div class="col-xl-3">
        </div>
        <div class="col-xl-3">
        </div>
        <div class="col-xl-3">
        </div>
    </div>-->

    <br><br>
    <div class="row">
        <div class="col-xl img-thumbnail">
            <table width="100%">
                <tr>
                    <th colspan="2">Spotify</th>
                </tr>
                {% if spusername != "" %}
                <tr>
                    <td style="text-align: right">Ingelogd:</td>
                    <td style="text-align: left">{{ spusername }}</td>
                <tr>
                    <td colspan="2"><a style="font-size:1rem" href="{{ url_for('api_spotify_logout') }}" class="btn btn-green">Log uit</a></td>
                </tr>
                {% endif %}
            </table>
            {% if spusername == "" %}
            {{ wtf.quick_form(form_spotify) }}
            {% endif %}
        </div>
        <div class="col-xl img-thumbnail">
            <h5 style="text-align: center; font-weight: bold">Citaat toevoegen</h5>
            {{ wtf.quick_form(form_quote) }}
        </div>
        <div class="col-xl img-thumbnail">
            <h5 style="text-align: center; font-weight: bold">Bericht op scherm</h5>
            {{ wtf.quick_form(form_interrupt) }}
        </div>
    </div>

{% endblock %}