{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    <script>
    window.onload = function() {
        document.getElementById('pos').value = {{ product.order - 1}};
        document.getElementById('purchaseable').checked = {% if product.purchaseable %}true{% else %}false{% endif %};

        let category;
        {% if product.category is none %}
            category = "";
        {% else %}
            category = '{{ product.category }}';
        {% endif %}
        document.getElementById('category').value = category;
    };
    </script>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Pas huidige data aan</h2>
            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.name, value=product.name) }}
                {{ wtf.form_field(form.price, value=('%.2f' % product.price)) }}
                {{ wtf.form_field(form.category) }}
                {{ wtf.form_field(form.pos) }}
                {{ wtf.form_field(form.purchaseable, value='on') }}
                {% if recipe != "" %}
                {{ wtf.form_field(form.recipe, value=recipe) }}
                {% else %}
                {{ wtf.form_field(form.inventory_warning, value=product.inventory_warning) }}
                {{ wtf.form_field(form.alcohol, value=product.alcohol * 100) }}
                {{ wtf.form_field(form.volume, value=product.volume) }}
                {{ wtf.form_field(form.unit, value=product.unit) }}
                {% endif %}
                {{ wtf.form_field(form.submit1) }}
            </form>
        </div>
        <div class="col-md-6">
            <h2>Pas afbeelding aan</h2>
            {{ wtf.quick_form(form2) }}
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h3 style="text-align: center">Statisch</h3>
                        <img src="{{ url_for('.static', filename='products/{}'.format(product.image) ) }}" style="max-width:100%;max-height:100%;border: 2px solid red;">
                    </div>
                    <div class="col-md-6">
                        <h3 style="text-align: center">Hover</h3>
                        <img src="{{ url_for('.static', filename='products/{}'.format(product.hoverimage) ) }}" style="max-width:100%;max-height:100%;border: 2px solid red;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}