{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Pas huidige data aan</h2>
            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.name, value=product.name) }}
                {{ wtf.form_field(form.price, value=('%.2f' % product.price)) }}
                {{ wtf.form_field(form.purchaseable, value=product.purchaseable) }}
                {{ wtf.form_field(form.recipe, value=recipe) }}
                {{ wtf.form_field(form.submit1) }}
            </form>
        </div>
        <div class="col-md-6">
            <h2>Pas afbeelding aan</h2>
            {{ wtf.quick_form(form2) }}
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h3 style="text-align: center">Statisch</h3>
                        <img src="{{ url_for('.static', filename='products/{}'.format(product.image) ) }}" style="max-width:100%;max-height:100%;border: 2px solid red;">
                    </div>
                    <div class="col-md-6">
                        <h3 style="text-align: center">Hover</h3>
                        <img src="{{ url_for('.static', filename='products/{}'.format(product.hoverimage) ) }}" style="max-width:100%;max-height:100%;border: 2px solid red;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}