{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Alle producten</h2>
            <table>
                <colgroup>
                    <col>
                    <col style="background-color: lightgrey">
                    <col>
                    <col style="background-color: lightgrey">
                    <col>
                    <col style="background-color: lightgrey">
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>ID</th>
                    <th>Pos</th>
                    <th>Naam</th>
                    <th>Prijs</th>
                    <th>Inv W.</th>
                    <th>Ingrediënten</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for d in Product.query.order_by(Product.order.asc()).all() %}
                <tr>
                {% if d.purchaseable is sameas false %}
                    <td style="text-decoration: line-through;">{{ d.id }}</td>
                    <td style="text-decoration: line-through;">{{ d.order }}</td>
                    <td style="text-decoration: line-through;">{{ d.name }}</td>
                    <td style="text-decoration: line-through;">€ {{ '%.2f' % d.price }}</td>
                    <td style="text-decoration: line-through;">{{ d.inventory_warning }}</td>
                    {% if d.recipe_input is not none %}
                    <td style="text-decoration: line-through;">{% for key, value in d.recipe_input.items() %} {{ value }}x {{ Product.query.get(key).name }} {% endfor %}
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td style="text-decoration: line-through;"><a href="/admin/drinks/edit/{{ d.id }}"><img src="{{ url_for('.static', filename='img/edit.png') }}" height="30" width="30" alt="Bewerken" title="Bewerk product"/></a>
                    </td>
                    <td></td>
                {% else %}
                    <td>{{ d.id }}</td>
                    <td>{{ d.order }}</td>
                    <td>{{ d.name }}</td>
                    <td>€ {{ '%.2f' % d.price }}</td>
                    <td>{{ d.inventory_warning }}</td>
                    {% if d.recipe_input is not none %}
                    <td>{% for key, value in d.recipe_input.items() %} {{ value }}x {{ Product.query.get(key).name }}{% if loop.index < d.recipe_input.items()|length %},{% endif %} {% endfor %}</td>
                    {% else %} <td></td> {% endif %}
                    <td><a href="/admin/drinks/edit/{{ d.id }}"><img src="{{ url_for('.static', filename='img/edit.png') }}" height="30" width="30" alt="Bewerken" title="Bewerk product"/></a></td>
                    <td><a href="/admin/drinks/delete/{{ d.id }}"><img src="{{ url_for('.static', filename='img/redcross.png') }}" height="30" width="30" alt="Verwijder" title="Verwijder product"/></a></td>
                {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-5">
            <h2>Voeg een product toe</h2>
            {{ wtf.quick_form(form) }}
            <p>Recept syntax: {aantal}x{product}, {aantal}x{product}, ...<br>Voorbeeld: 1x1, 2x3, 1x23</p>
        </div>
    </div>
{% endblock %}