{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-xl-8">
            <h2>Alle producten</h2>
            {% include 'tablefilters_vert.html' %}
            <table class="table table-striped">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col style="min-width: calc(4.5rem + 2 * 0.8rem)">
                    <col style="min-width: 5rem">
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pos</th>
                        <th>Naam</th>
                        <th>Categorie</th>
                        <th>Prijs</th>
                        <th>Inv W.</th>
                        <th>Ingrediënten</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in products %}
                    {% if d.purchaseable is sameas false %}
                    <tr class="item-unavailable">
                        <td>{{ d.id }}</td>
                        <td>{{ d.order }}</td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.category }}</td>
                        <td>€ {{ '%.2f' % d.price }}</td>
                        <td>{{ d.inventory_warning }}</td>
                        {% if d.recipe_input is not none %}
                        <td>{% for key, value in d.recipe_input.items() %} {{ value }}x {{ Product.query.get(key).name }} {% endfor %}
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td><a href="{{ url_for('admin_drinks_edit', drinkid=d.id) }}"><i class="fa fa-edit edit-symbol"></i></a></td>
                        </td>
                        <td></td>
                    </tr>
                    {% else %}
                    <tr class="item-available">
                        <td>{{ d.id }}</td>
                        <td>{{ d.order }}</td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.category }}</td>
                        <td>€ {{ '%.2f' % d.price }}</td>
                        <td>{{ d.inventory_warning }}</td>
                        {% if d.recipe_input is not none %}
                        <td>{% for key, value in d.recipe_input.items() %} {{ value }}x {{ Product.query.get(key).name }}{% if loop.index < d.recipe_input.items()|length %},{% endif %} {% endfor %}</td>
                        {% else %} <td></td> {% endif %}
                        <td><a href="{{ url_for('admin_drinks_edit', drinkid=d.id) }}"><i class="fa fa-edit edit-symbol"></i></a></td>
                        <td><a href="{{ url_for('admin_drinks_delete', drinkid=d.id) }}"><i class="fa fa-times fa-lg" style="color:red;"></i></a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xl">
            <h2>Voeg een product toe</h2>
            {{ wtf.quick_form(form) }}
            <p>Recept syntax: {aantal}x{product}, {aantal}x{product}, ...<br>Voorbeeld: 1x1, 2x3, 1x23</p>
        </div>
    </div>
{% endblock %}