{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Alle producten</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Naam</th>
                    <th>Prijs</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for d in drinks %}
                <tr>
                {% if d.purchaseable is sameas false %}
                        <td><strike>{{ d.id }}</strike></td>
                        <td><strike>{{ d.name }}</strike></td>
                        <td><strike>€ {{ '%.2f' % d.price }}</strike></td>
                        <td><strike><a href="/admin/drinks/edit/{{ d.id }}"><img src="{{ url_for('.static', filename='edit.png') }}" height="30" width="30" alt="Bewerken" title="Bewerk product"/></a></strike></td>
                        <td></td>
                {% else %}
                    <td>{{ d.id }}</td>
                    <td>{{ d.name }}</td>
                    <td>€ {{ '%.2f' % d.price }}</td>
                    <td><a href="/admin/drinks/edit/{{ d.id }}"><img src="{{ url_for('.static', filename='edit.png') }}" height="30" width="30" alt="Bewerken" title="Bewerk product"/></a></td>
                    <td><a href="/admin/drinks/delete/{{ d.id }}"><img src="{{ url_for('.static', filename='redcross.png') }}" height="30" width="30" alt="Verwijder" title="Verwijder product"/></a></td>
                {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-5">
            {{ wtf.quick_form(form) }}
            <p>* Alleen .jpg afbeelingen werken</p>
        </div>
    </div>
{% endblock %}