{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-xl-6">
            <h2>Alle winst</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Winst</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in Usergroup.query.all() %}
                    <tr>
                        <td>{{ u.name }}</td>
                        <td><span style="color: green;font-weight:bold;">€ {{ '%.2f' % u.profit }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xl-6">
            <h2>Winst uitbetalen</h2>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}