{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Persoon</th>
            <th>Wat</th>
            <th>Hoeveel</th>
            <th></th>
        </tr>
        {% for t in transactions %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.timestamp.strftime("%Y-%m-%d") }}</td>
            <td>{{ t.timestamp.strftime("%H:%M:%S") }}</td>
            <td>{{ User.query.get(t.user_id).name }} (ID: {{ t.user_id }})</td>
            {% if t.purchase_id is not none %}
            <td>{{ Purchase.query.get(t.purchase_id).amount }}x {{ Product.query.get(Purchase.query.get(t.purchase_id).product_id).name }} (ID: {{ t.purchase_id }})</td>
            {% else %}
            <td>Opwaardering (ID: {{ t.upgrade_id }})</td>
            {% endif %}
            {% if t.balchange < 0 %}
            <td><span style="color: red;font-weight:bold;">€ {{ '%.2f' % t.balchange }}</span></td>
            {% else %}
            <td><span style="color: green;font-weight:bold;">€ {{ '%.2f' % t.balchange }}</span></td>
            {% endif %}
            <td><a href="/admin/transactions/delete/{{ t.id }}"><img src="{{ url_for('.static', filename='redcross.png') }}" height="30" width="30" alt="Verwijder" title="Verwijder transactie uit Tikker"/></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}