{% extends "base.html" %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/Chart.bundle.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/graph.js')}}"></script>
<script>
    createBar({{ ids|tojson }}, {{ data|tojson }}, {{ labels|tojson }}, 'bar');
    createPie({{ ids|tojson }}, {{ data|tojson }}, {{ labels|tojson }}, 'pie');
    createLine({{ datat|tojson }}, 'balline')

</script>
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/Chart.css')}}">
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-6">
            <canvas class="graph" id="bar"></canvas>
            <canvas class="graph" id="pie"></canvas>
        </div>
        <div class="col-6">
            <canvas class="graph" id="line-chart"></canvas>
        </div>
    </div>
<!--<canvas class="graph" id="myChart"></canvas>-->
{% endblock %}

<!--{% block appcontent %}
    <h1>Gebruikersstatistieken voor {{ user.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('.static', filename=filenames[0]) }}"><br>
            <img src="{{ url_for('.static', filename=filenames[1]) }}">
        </div>
    </div>
{% endblock %}-->