{% extends "base.html" %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/Chart.bundle.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/graph.js')}}"></script>
<script>
    createBar({{ ids|tojson }}, {{ data|tojson }}, {{ labels|tojson }}, 'bar', {{ lefturl|tojson }});
    createPie({{ ids|tojson }}, {{ data|tojson }}, {{ labels|tojson }}, 'pie', {{ lefturl|tojson }});
    createLine({{ datat|tojson }}, 'balline');
    createBar({{ idw|tojson }}, {{ valuew|tojson }}, {{ labelw|tojson }}, 'week-bars', {{ righturl|tojson }});

</script>
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/Chart.css')}}">
{% endblock %}

{% block app_content %}
Vanaf <input type="date" id="begindate" value="{{ begindate }}"> to <input type="date" id="enddate" value="{{ enddate }}"> <a class="btn btn-grey" id="submitbutton" onclick="changeDate()">Verstuur</a>
    <div class="row">
        <div class="col-6">
            <h2>Verdeling gekochte producten</h2>
            <canvas class="graph" id="bar"></canvas>
            <br>
            <canvas class="graph" id="pie"></canvas>
        </div>
        <div class="col-6">
            <h2>Balansveranderingen</h2>
            <h3>Saldo over tijd</h3>
            <canvas class="graph" id="line-chart"></canvas>
            <h3>Uitgegeven geld per week</h3>
            <canvas class="graph" id="week-bars"></canvas>
        </div>
    </div>
<!--<canvas class="graph" id="myChart"></canvas>-->
{% endblock %}

<!--{% block appcontent %}
    <h1>Gebruikersstatistieken voor {{ user.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('.static', filename=filenames[0]) }}"><br>
            <img src="{{ url_for('.static', filename=filenames[1]) }}">
        </div>
    </div>
{% endblock %}-->