{% extends "base.html" %}

{% block app_content %}
    <h1>Saldo's</h1>
    <table width="100%">
        <tr>
            {% for g in usergroups %}
            <th>{{ g.name }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for g in usergroups %}
            <td valign="top" width="{{ 100 / amount_usergroups }}%"><table width="100%">
                {% for u in g.users.all() %}
                <tr>
                    <td><a href="/user/{{ u.id }}">{{ u.name }}</a></td>
                    {% if u.balance < 0 %}
                    <td><span style="color: red;font-weight:bold;">€ {{ '%.2f' % u.balance }}</span></td>
                    {% else %}
                    <td><span style="color: green;font-weight:bold;">€ {{ '%.2f' % u.balance }}</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table></td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}