{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        {% for g in usergroups %}
        <div class="col-md">
            <div class="img-thumbnail">
                <table style="width: 100%">
                    <tr>
                        <th colspan="2">{{ g.name }}</th>
                    </tr>
                    {% for u in g.users.filter(User.deleted == false).all() %}
                    <tr>
                        <td style="width:50%; text-align: right"><a href="{{ url_for('user', userid=u.id) }}">{{ u.name }}</a></td>
                        {% if u.balance < 0 %}
                        <td style="width: 50%"><span style="color: red;font-weight:bold;">€{{ '%.2f' % u.balance }}</span></td>
                        {% else %}
                        <td style="width: 50%"><span style="color: green;font-weight:bold;">€{{ '%.2f' % u.balance }}</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}