{% extends 'bootstrap/base.html' %}

{% set version = "1.5.2.1" %}

{% block title %}
{% if view_only %}(VIEW ONLY){% endif %}
{% if title %}Tikker - {{ title }}
{% else %}Tikker
{% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
    {% if request.cookies.get('dark-mode') == 'True' %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/dark-mode.css')}}">
    {% else %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/light-mode.css')}}">
    {% endif %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/fonts.css')}}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/table.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script type="text/javascript" src="/bootstrap/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/clock.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/darklight.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.dataTables.min.js')}}"></script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
{% if request.cookies.get('snow') != 'False' and snow == "True" %}
<script type="text/javascript" src="{{ url_for('.static', filename='js/snowstorm.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}
<!--<body onload="startFunctions()">-->

<div id="body">

    <div class="modal fade" id="tikker-offline-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="font-family: standardtext">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tikker offline</h5>
                </div>
                <div class="modal-body">
                    De verbinding met Tikker is verloren. In de achtergrond wordt geprobeerd deze verbinding te herstellen.
                    Mocht dit niet werken, probeer dan Tikker te herstarten!
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shutdown-modal" tabindex="-1" role="dialog" style="font-family: standardtext;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tikker afsluiten</h5>
                </div>
                <div class="modal-body">
                    Weet je zeker dat je Tikker wilt afsluiten?<br><br>

                    {% if send_overview_emails and not view_ony %}
                        Voor het afsluiten kun je ook iedereen een mail sturen met <b>het maandelijkse transactieoverzicht</b> en een mail met <b>eventuele schulden</b>.
                        Het versturen van deze mails kan enkele minuten duren.
                    {% elif send_debt_emails and not view_only %}
                        Voor het afsluiten kun je ook iedereen met een hoge schuld een mail sturen met <b>de hoogte van de schuld</b>.
                        Het versturen van deze mails kan enkele minuten duren.
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if (send_overview_emails or send_debt_emails) and not view_only %}
                    <a href="{{ url_for('shutdown', emails=true) }}" type="button" class="btn btn-danger" onclick="showLoadingBar()">Mailen en afsluiten</a>
                    {% endif %}
                    <a href="{{ url_for('shutdown') }}" type="button" class="btn btn-danger">Afsluiten</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Terug</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="about" tabindex="-1" role="dialog" style="font-family: standardtext">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Over Tikker (V{{ version }})</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tikker is geschreven door Roy Kakkenberg van Scouting Kornet van Limburg Olst-Wijhe om bierschulden bij te houden. Het systeem bevat daarnaast een systeem voor het bijhouden van een inventaris, waardoor zelfst winsten per groep bijgehouden kunnen worden. Producten kunnen bestaan uit zichzelf of een mix van meerdere andere producten, waardoor Tikker robuust is als het gaat om inventarissen bijhouden en nieuwe producten toevoegen.
                    <br><br>
                    Bugs kunnen gemeld worden aan Roy. Als het systeem een fout weergeeft, wordt deze automatisch gelogd. Vergeet deze niet door te geven aan Roy, samen met wat je aan het doen was op dat moment!
                    <br>
                    <hr>
                    {% include "changelog.html" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-grey" data-dismiss="modal">Terug</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex" id="wrapper" style="position: relative;">

        <!-- Sidebar -->
        <div class="{% if request.cookies.get('dark-mode') == 'True' %}bg-dark{% else %}bg-light{% endif %} border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a href="{{ url_for('index') }}"><img src="{% if request.cookies.get('dark-mode') == 'True' %}{{ url_for('.static', filename='img/logo-dark.png') }}{% else %}{{ url_for('.static', filename='img/logo.png') }}{% endif %}" class="sidebar-logo" alt=""></a>
                <div class="sidebar-tikker-name">
                    Tikker
                </div>
                <div class="sidebar-tikker-version">
                    V{{ version }}
                </div>
                <div class="sidebar-menubuttons">
                    <a href="{{ url_for('admin') }}" class="btn btn-green"><span class="fa fa-cog fa-2x"></span></a>
                    <button type="button" class="btn btn-yellow" data-toggle="modal" data-target="#about"><span class="fa fa-info-circle fa-2x"></span></button>
                    <button type="button" class="btn btn-green" data-toggle="modal" data-target="#shutdown-modal"><span class="fa fa-power-off fa-2x"></span></button>
                </div>
            </div>

            <div class="list-group list-group-flush" style="font-family: standardtext">
                <a href="{{ url_for('index') }}" class="list-group-item list-group-item-action {% if request.cookies.get('dark-mode') == 'True' %}bg-dark{% else %}bg-light{% endif %}">Home</a>
                <a href="{{ url_for('balance') }}" class="list-group-item list-group-item-action {% if request.cookies.get('dark-mode') == 'True' %}bg-dark{% else %}bg-light{% endif %}">Gebruikersoverzicht</a>
                <a href="{{ url_for('stats_home') }}" class="list-group-item list-group-item-action {% if request.cookies.get('dark-mode') == 'True' %}bg-dark{% else %}bg-light{% endif %}">Statistieken</a>
                <a href="{{ url_for('add_user_quote') }}" class="list-group-item list-group-item-action {% if request.cookies.get('dark-mode') == 'True' %}bg-dark{% else %}bg-light{% endif %}">Citaat toevoegen</a>
                <a href="{{ url_for('soundboard') }}" class="list-group-item list-group-item-action {% if request.cookies.get('dark-mode') == 'True' %}bg-dark{% else %}bg-light{% endif %}">Soundboard</a>
                <a href="{{ url_for('client_settings') }}" class="list-group-item list-group-item-action {% if request.cookies.get('dark-mode') == 'True' %}bg-dark{% else %}bg-light{% endif %}">Browserinstellingen</a>
            </div>
            <div style="position: absolute; bottom: 0;">
                <img src="{{ url_for('.static', filename='img/NIX18.svg') }}" style="text-align: center; margin: 1rem;"
                     width="285rem">
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper">
            <div class="container-fluid main" style="height: 100vh;">
                <div class="row">
                    <div id="loader" style="display: none;"></div>
                    <div class="col">
                        <script>
                            window.setTimeout(function () {
                                $(".alert-dismissible").fadeTo(500, 0).slideUp(500, function () {
                                    $(this).remove();
                                });
                            }, 4000);
                        </script>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        {% if view_only %}
                        <div class="alert alert-danger" role="alert">
                            Deze versie van Tikker staat in <i>View-only modus</i>. Dit betekent bijvoorbeeld dat je alleen de data kunt bekijken.
                            Het is niet mogelijk om producten af te tikken, transacties te verwijderen of de gebruikers of groepen te veranderen.
                            BigScreen is ook niet toegankelijk en het soundboard zal niet werken.
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="align-items: center">
                    <div class="col align-self-start">
                        <div>
                            <!--<img id="menu-toggle" src="{% if request.cookies.get('dark-mode') == 'True' %}{{ url_for('.static', filename='img/menu-dark.svg') }}{% else %}{{ url_for('.static', filename='img/menu.svg') }}{% endif %}" style="margin-right: 5px;" width="32px" height="32px">-->
                            <span id="menu-toggle" class="fa fa-bars fa-lg" style="margin-right: 5px;"></span>
                            {%- for breadcrumb in breadcrumbs -%}
                            <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                            {{ '/ ' if not loop.last }}
                            {%- endfor -%}
                        </div>
                        <h1>{{ h1 }}</h1>
                    </div>
                    <!--<div class="col-auto"><a class="btn btn-block btn-grey" id="darklight" onclick="toggleDarkLight()">Dark/Light</a></div>-->
                    <div class="col-auto">
                        <div class="container-fluid">
                            <div class="row server-status">
                                <span class="status-dot pulsation" id="status-dot" style="background-color: green;"></span><div style="color: green;" id="status-text">Tikker online</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="clock">
                                        <span id="clock-hour" style="display: inline-block; margin-left: -8px; margin-right: -8px;"></span>
                                        <span id="clock-middle" style="display: inline-block; width: 8px;"></span>
                                        <span id="clock-minute" style="display: inline-block; margin-left: -8px; margin-right: -8px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% block app_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="confetti"></canvas>
</div>
    {% endblock %}