{% extends "base.html" %}

{% block content %}
    <h1>Drink: {{ drink.name }}</h1>
    <table>
        <tr>
            {% for g in Usergroup.query.all() %}
            <th>{{ g.name }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for g in Usergroup.query.all() %}
            <td valign="top"><table>
                {% for u in g.users.all() %}
                <tr>
                    <td><a href="/drink/{{ drink.id }}/{{ u.id }}">{{ u.name }}</a></td>
                </tr>
                {% endfor %}
            </table></td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}