{% extends "base.html" %}

{% block scripts %}
{{super()}}
    <script src="{{url_for('.static', filename='js/cart.js')}}"></script>
    <script>
        initCart({{ drink.price|tojson }});
        $(function() {
            $('#toggle-one').bootstrapToggle();
          })
    </script>
<script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap4-toggle.min.js')}}"></script>
{% endblock %}


{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap4-toggle.min.css')}}">
{% endblock %}

{% block app_content %}
<body data-minus-img="{{ url_for('static', filename='img/minus.png') }}">

<div class="container-fluid">
    <div class="row">
        <div class="col-xl">
            {%  include 'userlistbuttons.html' %}
        </div>
        <div class="col-xl-3 min-width-460-md">
            {% if shared == false %}
            <a class="btn btn-block btn-grey" onclick="addToCart('0', 'Gezamenlijk', '{{ drink.price }}')">Gezamelijk</a>
            {% endif %}

            {% if borrel_data is not none %}
            <div class="img-thumbnail" width="100%" style="font-size:14pt">
                <table style="margin-left:auto;margin-right:auto;">
                    <tr>
                        <th colspan="2" style="font-size: 28px; color: red;">BORRELMODUS</th>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">Borrel modus staat aan. Alles wordt afgetikt op kosten van <u>{{ borrel_data.user }}</u>. </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 60%;">Aantal over:</td>
                        <td style="text-align: left; width: 40%">{{ borrel_data.left }}</td>
                    </tr>
                </table>
            </div>
            {% endif %}

            <div class="img-thumbnail" width="100%" style="font-size: 12pt;">
                <img class="front-image" src="{{ url_for('.static', filename='products/{}'.format(drink.image) ) }}" style="max-width:100%;max-height:100%; display: block; margin: 0 auto;">
            </div>

            {% if drink.recipe_input is not none %}
            <div class="img-thumbnail" width="100%" style="font-size: 12pt">
                <table style="margin-left:auto;margin-right:auto;">
                    <tr>
                        <th colspan="2">Recept voor {{ drink.name }}</th>
                    </tr>
                    {% for key, value in drink.recipe_input.items() %}
                    <tr>
                        <td style="text-align: right">{{ Product.query.get(key).name }}:</td>
                        <td style="text-align: left">{{ value }}x</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}

            <div class="img-thumbnail" width="100%" style="font-size: 12pt">
                <table width="100%">
                    <tr>
                        <th colspan="2">Statistieken</th>
                    </tr>
                    {% for s in stats['stock'] %}
                    <tr>
                        <td style="text-align: right" width="60%">Inventaris {{ s["product"] }}:</td>
                        <td style="text-align: left" width="40%">
                            {% if s.quantity < 0 %}<span style="color: red; font-weight: bold;">{{ s.quantity|round|int }}</span>
                            {% elif s.quantity <= s.inventory_warning %}<span style="color: darkorange; font-weight: bold">{{ s.quantity|round|int }}</span>
                            {% else %} {{ s.quantity|round|int }}
                        {% endif %} </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align: right" width="60%">Grootste koper:</td>
                        <td style="text-align: left" width="40%">{% if stats['largest_consumer']['user'] is not none %}
                            {{ User.query.get(stats['largest_consumer']['user']).name }} ({{ stats['largest_consumer']['amount']|round|int }})
                            {% else %} Niemand :( {% endif %}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right" width="60%">Meeste rondjes:</td>
                        <td style="text-align: left" width="40%">{% if stats['largest_rounder']['user'] is not none %}
                            {{ User.query.get(stats['largest_rounder']['user']).name }} ({{ stats['largest_rounder']['amount']|round|int }})
                            {% else %} Niemand :( {% endif %}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right" width="60%">Totaal gedronken:</td>
                        <td style="text-align: left" width="40%">{{ stats['total_bought']|round|int }} ({{ (stats['volume'] * stats['total_bought'])|round|int }} L)</td>
                    </tr>
                    <tr>
                        <td style="text-align: right" width="60%">Totaal alcohol genuttigd:</td>
                        <td style="text-align: left" width="40%">{% if stats['alcohol'] * stats['total_bought'] >= 1000 %}
                            {{ (stats['alcohol'] * stats['total_bought'] / 1000)|round(1) }} L
                            {% else %} {{ (stats['alcohol'] * stats['total_bought'])|round|int }} mL
                            {% endif %}</td>
                    </tr>
                </table>
            </div>

            <div class="img-thumbnail">
                <table id="cart" width="100%"></table>
                <hr>
                {% if shared == false %}Rondje {% endif %}<input {% if shared == true %}type="hidden"{% endif %} type="checkbox" id="round" data-toggle="toggle" data-on="Ja" data-off="Nee" data-offstyle="secondary">
                <a class="btn btn-block btn-grey" id="submitbutton" onclick="submitCart()" width="90%">Versturen</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}