{% extends "base.html" %}

{% block app_content %}
    <h1>Gebruikers</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Groep</th>
            <th>Saldo</th>
            <th></th>
        </tr>
        {% for u in User.query.all() %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ Usergroup.query.get(u.usergroup_id) }}</td>
            {% if u.balance < 0 %}
            <td><span style="color: red;font-weight:bold;">€ {{ '%.2f' % u.balance }}</span></td>
            {% else %}
            <td><span style="color: green;font-weight:bold;">€ {{ '%.2f' % u.balance }}</span></td>
            {% endif %}
            <td><a href="/admin/users/delete/{{ u.id }}"><img src="{{ url_for('.static', filename='redcross.png') }}" height="30" width="30" alt="Verwijder" title="Verwijder {{ u.name }} uit Tikker"/></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}