{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super()}}
<script>
    normalfield = document.getElementById("amount");
    sumupfield = document.getElementById("amount_sumup");
    commission = 1.0190;
    function changeNormalInput() {
        n = parseFloat(normalfield.value.replace(',', '.'));
        sumupfield.value = (Math.ceil(n * commission * 100) / 100).toFixed(2).toString().replace('.', ',')
    }
    function changeSumupInput() {
        s = parseFloat(sumupfield.value.replace(',', '.'));
        normalfield.value = (Math.ceil(s / commission * 100) / 100).toFixed(2).toString().replace('.', ',')
    }
</script>
{% endblock %}

{% block app_content %}
<form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.user) }}
    {{ wtf.form_field(form.amount, onchange="changeNormalInput()") }}
    <label class="form-control-label" for="amount_sumup">Bedrag (te betalen met Sumup)</label>
    <input type="text" id="amount_sumup" class="form-control" name="amount_sumup" onchange="changeSumupInput()">
    <br>
    {{ wtf.form_field(form.submit) }}
</form>
{% endblock %}