{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super()}}
<script>
    normalfield = document.getElementById("amount");
    sumupfield = document.getElementById("amount_sumup");
    commission = 1.0190;
    function changeNormalInput() {
        n = parseFloat(normalfield.value.replace(',', '.'));
        sumupfield.value = (Math.ceil(n * commission * 100) / 100).toFixed(2).toString().replace('.', ',')
    }
    function changeSumupInput() {
        s = parseFloat(sumupfield.value.replace(',', '.'));
        normalfield.value = (Math.ceil(s / commission * 100) / 100).toFixed(2).toString().replace('.', ',')
    }
</script>
{% endblock %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl">
            <h2>Opwaarderen</h2>
            <form class="form form-horizontal" method="post" role="form">
                {{ upgr_form.hidden_tag() }}
                {{ wtf.form_errors(upgr_form, hiddens="only") }}

                {{ wtf.form_field(upgr_form.user) }}
                {{ wtf.form_field(upgr_form.amount, onchange="changeNormalInput()") }}
                <label class="form-control-label" for="amount_sumup">Bedrag (te betalen met Sumup)</label>
                <input type="text" id="amount_sumup" class="form-control" name="amount_sumup" onchange="changeSumupInput()">
                <br>
                {{ wtf.form_field(upgr_form.upgr_submit) }}
            </form>
        </div>
        <div class="col-xl">
            <h2>Declareren</h2>
            {{ wtf.quick_form(decl_form) }}
        </div>
    </div>
</div>
{% endblock %}