{% extends "base.html" %}

{% block content %}
    <h1>Opwaarderen</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user.label }}<br>
            {{ form.user }} <br>
            {% for error in form.user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label }}
            {{ form.amount(size=10) }}
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}