{% extends "base.html" %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/Chart.js')}}"></script>
<script src="{{url_for('.static', filename='js/graph.js')}}"></script>
<script>
    createBar({{ ids|tojson }}, {{ data|tojson }}, {{ labels|tojson }}, 'bar', {{ url_prefix|tojson }});
    createPie({{ ids|tojson }}, {{ data|tojson }}, {{ labels|tojson }}, 'pie', {{ url_prefix|tojson }});
</script>
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/Chart.css')}}">
{% endblock %}

{% block app_content %}
<div class="row">
    <div class="col-xl-6">
        <h2>Transacties</h2>
        <table>
            <colgroup>
                <col>
                <col style="background-color: lightgrey">
                <col>
                <col style="background-color: lightgrey">
                <col>
                <col style="background-color: lightgrey">
            </colgroup>
            <tr>
                <th>ID</th>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Wat</th>
                <th>Hoeveel</th>
                <th>Saldo</th>
            </tr>
            {% for t in transactions %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.timestamp.strftime("%Y-%m-%d") }}</td>
                <td>{{ t.timestamp.strftime("%H:%M:%S") }}</td>
                {% if t.purchase_id is not none %}
                <td>{{ Purchase.query.get(t.purchase_id).amount }}x {{
                    Product.query.get(Purchase.query.get(t.purchase_id).product_id).name }}
                </td>
                {% else %}
                <td>Opwaardering</td>
                {% endif %}
                {% if t.balchange < 0 %}
                <td><span style="color: red;font-weight:bold;">€{{ '%.2f' % t.balchange }}</span></td>
                {% else %}
                <td><span style="color: green;font-weight:bold;">€{{ '%.2f' % t.balchange }}</span></td>
                {% endif %}
                {% if t.newbal < 0 %}
                <td><span style="color: red;font-weight:bold;">€{{ '%.2f' % t.newbal }}</span></td>
                {% else %}
                <td><span style="color: green;font-weight:bold;">€{{ '%.2f' % t.newbal }}</span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-xl-6">
        <h2>Statistieken</h2>
        <h3>Verdeling gekochte producten</h3>
        <h4>Staafdiagram</h4>
        <canvas class="graph" id="bar" width="100%"></canvas>
        <h4>Cirkeldiagram</h4>
        <canvas class="graph" id="pie" width="100%"></canvas>
    </div>
</div>
{% endblock %}