{% extends "base.html" %}

{% block app_content %}
    <p style="text-align: center">Weet je zeker dat je {{ message }}<br>
    Deze actie kan niet ongedaan gemaakt worden!</p>
    <table width="100%">
        <tr>
            <td style="text-align: right" width="50%"><a href="{{ agree_url }}"><img src="{{ url_for('.static', filename='img/greencheck.png') }}" height="30" width="30" alt="Verwijder" title="Verwijder uit Tikker" onclick="showLoadingBar()"/></a></td>
            <td style="text-align: left" width="50%"><a href="{{ return_url }}"><img src="{{ url_for('.static', filename='img/redcross.png') }}" height="30" width="30" alt="Afbreken" title="Ga terug"/></a></td>
        </tr>
    </table>

{% endblock %}