{% extends "base.html" %}

{% block app_content %}
    <center><p>Weet je zeker dat je {{ message }}<br>
    Deze actie kan niet ongedaan gemaakt worden!</p>
    <table>
        <tr>
            <td><a href="{{ agree_url }}"><img src="{{ url_for('.static', filename='greencheck.png') }}" height="30" width="30" alt="Verwijder" title="Verwijder uit Tikker"/></a></td>
            <td><a href="{{ return_url }}"><img src="{{ url_for('.static', filename='redcross.png') }}" height="30" width="30" alt="Afbreken" title="Ga terug"/></a></td>
        </tr>
    </table>
    </center>
{% endblock %}